<!-- 
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{firstname()}}
            </td>
            <td>
                {{lastname()}}
            </td>
            <td>
                {{fullname()}}
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group mb=3">
                    <input type="text" class="form-control"[value]="firstname()"#fname placeholder="Change First Name">
                    <button (click)="changeFirstName(fname.value)" class="btn btn-outline-primary" type="button">
                    Change First Name</button>
                </div>
            </td>
            <td>
                <div class="input-group mb=3">
                    <input type="text" class="form-control"[value]="lastname()"#lname placeholder="Change Last Name">
                    <button (click)="changeLastName(lname.value)" class="btn btn-outline-primary" type="button">
                    Change Last Name</button>
                </div>
            </td>
        </tr>
    </tbody>
</table> -->
